body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vh;
  color: #31849f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  text-align: center;
  margin: 5px 0;
  font-size: 2.5vh;
}

h1 {
  color: tomato;
}

h2,
p {
  color: #31849f;
  font-weight: 400;
}

span {
  color: tomato;
}
